definitions:
  etsy_dev_v1_202512_core_view.ProductListResp:
    properties:
      code:
        example: 0
        type: integer
      data:
        items:
          $ref: '#/definitions/etsy_dev_v1_202512_core_view.ProductResp'
        type: array
      message:
        example: success
        type: string
      page:
        example: 1
        type: integer
      page_size:
        example: 20
        type: integer
      total:
        example: 100
        type: integer
    type: object
  etsy_dev_v1_202512_core_view.ProductResp:
    properties:
      currency:
        type: string
      id:
        type: integer
      img_url:
        description: 暂时留空，后续可以加
        type: string
      last_updated:
        type: string
      listing_id:
        description: 这里的 ID 转字符串防止前端大数精度丢失
        type: string
      price:
        description: 组合字段：直接给前端一个浮点数价格
        type: number
      quantity:
        type: integer
      state:
        type: string
      tags:
        items:
          type: string
        type: array
      title:
        type: string
      views:
        type: integer
    type: object
info:
  contact: {}
paths:
  /api/auth/callback:
    get:
      consumes:
      - application/json
      description: 接收 Etsy 返回的 code 和 state，换取 Token 并入库
      parameters:
      - description: 授权码
        in: query
        name: code
        required: true
        type: string
      - description: 安全校验码
        in: query
        name: state
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 授权成功信息
          schema:
            additionalProperties: true
            type: object
        "400":
          description: 拒绝授权/参数错误
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Etsy 授权回调
      tags:
      - Auth (授权模块)
  /api/products:
    get:
      consumes:
      - application/json
      parameters:
      - description: 店铺 ID
        in: query
        name: shop_id
        required: true
        type: integer
      - default: 1
        description: 页码 (默认1)
        in: query
        name: page
        type: integer
      - default: 20
        description: 每页数量 (默认20)
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/etsy_dev_v1_202512_core_view.ProductListResp'
      summary: 获取指定店铺的商品列表
      tags:
      - Product
  /auth/login:
    get:
      consumes:
      - application/json
      description: 为指定的预置店铺生成授权链接，并生成 OAuth 授权跳转链接
      parameters:
      - description: 预置的店铺 ID (Database Primary Key)
        in: query
        name: shop_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 点击按钮手动复制链接 url
          schema:
            type: string
        "400":
          description: 错误信息
          schema:
            type: string
      summary: 获取 Etsy 授权链接
      tags:
      - Auth (授权模块)
swagger: "2.0"
